<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Zapatos artesanales de gran calidad">
        <title>Aldo Ferretti © - Catálogo</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@100;400;500;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../style/style.css">
        <link rel="icon" type="image/jpg" href="./img/Favicon AF.png" />
      </head>

<body>
    
  <header>

    <!-- TABLET Y MOVIL -->
      <div class="menu__responsive">
        <!-- HAMBURGUESA -->
        <button id="abrir" class="abrir-menu"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/></svg></button>
        <nav id="nav" class="hamburguer__nav">
          <button id="cerrar" class="cerrar-menu"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/></svg></button>
          <ul class="hamburguer__nav--list">
            <li class="nav--list-li"><a href="../index.html">INICIO</a></li>
            <li class="nav--list-li"><a href="../views/catalogo.html">CATÁLOGO</a></li>
            <li class="nav--list-li"><a href="../views/contacto.html">CONTACTO</a></li>
          </ul>
        </nav>

        <!-- LOGOTIPO -->
        <div class="menu__responsive--logo">
          <a href="../index.html"><img src="../img/AF black.png" alt="Aldo Ferretti"></a>
        </div>
      
        <!-- CESTA -->
        <div class="menu__responsive--cart">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16"><path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z" /></svg>
        </div>
      </div>




      
    <!-- DESKTOP -->
    <nav class="navbar">
      <div class="navbar__left">
        <a class="navbar--a" href="../views/catalogo.html">CATÁLOGO</a>
        <a class="navbar--a" href="../views/contacto.html">CONTACTO</a>
      </div>


      <div class="navbar__center">
        <a href="../index.html"><img class="navbar__center--img" src="../img/AF black.png" alt="Aldo Ferretti"></a>
      </div>


      <div class="navbar__right">  
        <div class="container">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" /></svg>
          <input class="container--input" type="text" name="" id="" placeholder="Buscar...">
        </div>
        <a class="navbar--a" href="">INICIAR SESIÓN</a>
        <a class="navbar--a" href="" aria-label="Mi cesta"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16"><path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z" /></svg></a>
      </div>
    </nav>


  </header>


    <main class="main">

        <section class="banner__catalogo">
            <div class="banner__catalogo--div">
                <h2>CATÁLOGO</h2>
                <p>El calzado Goodyear es un tipo de fabricación del calzado de alta calidad que utiliza una técnica de doble costura a mano, proporcionando elegancia y resistencia.</p>
            </div>
        </section>

        <section class="gallery">
          <div id="gallery" class="gallery__div">


              <!-- <div class="product__card">
                  <img class="back" src="../img/Flavio_negro-cat2.jpg" alt="Flavio_negro">
                  <img class="top" src="../img/Flavio_negro-cat.jpg" alt="Flavio_negro">
                  <div class="card__text">
                    <p>BOTA CHELSEA MODELO FLAVIO</p>
                    <p>249,00€</p>
                  </div>
              </div> -->


          </div>
      </section>




    <!-- FOOTER -->
    <footer class="footer">
      <div class="footer__box">

        <div class="footer__div">
          <h4>ALDO FERRETTI</h4>
          <p>Sobre nosotros</p>
          <p>Contacto</p>
          <p>¿Cómo saber la talla correcta?</p>
          <p>Condiciones de compra</p>
        </div>

        <div class="footer__div">
          <h4>CORPORATIVO</h4>
          <p>Envíos y devoluciones</p>
          <p>Aviso legal</p>
          <p>Política de privacidad</p>
          <p>Política de cookies</p>
        </div>

        <div class="footer__div">
          <h4>CONTACTO</h4>
          <p>Llámanos: (+34) 954 564 292</p>
          <p>Whatsapp: (+34) 638 726 246</p>
          <p>Horario (GMT+2): L-V de 09:00 - 14:00 / 15:00 - 18:00</p>
          <p><a href="mailto:info@aldoferretti.com">Contacta con nosotros</a></p>
        </div>
      </div>


      <hr class="hr__footer">
      <div class="after__footer">
        <p>Aldo Ferretti 2024 ©</p>
        <img class="after__footer--logo" src="../img/Logotipo AF blanco.png" alt="">
        <div>
          <select class="lang__selector">
            <option value="0">Selecciona tu idioma:</option>
            <option value="1">Español</option>
            <option value="2">Inglés</option>
            <option value="3">Francés</option>
            <option value="4">Italiano</option>
            <option value="5">Turco</option>
            <option value="6">Ruso</option>
            <option value="7">Árabe</option>
            <option value="8">Alemán</option>
            <option value="9">Portugués</option>
          </select>
        </div>
      </div>
    </footer>

    </main>

    <script src="../script.js"></script>
</body>
</html>